@model  Web.ViewModels.DealViewModels

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Domain.MyDeals</h2>

<p>
        @*
        @Html.ActionLink(@Resources.Common.CreateNew, "Create")
        *@ 
    <br/>
    @Html.ActionLink(@Resources.Domain.FindCreateDeal, "FindCreateDeal")
</p>
<table class="table table-bordered table-striped dataTable">
    <tr>
        @* <th>
        @Html.DisplayNameFor(model => model.ProductOwner)
    </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
          @Resources.Domain.ProductOwner @Html.DisplayNameFor(model => model.Person.FirstLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal.Until)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deal.DealDone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.AllDealsForPerson) {
    <tr>
        @*
    <td>
        @Html.DisplayFor(model => model.ProductOwner.)
    </td>*@

        <td>
            @Html.ActionLink(item.Product.Title, "ProductDetails", "Products", new {id = item.Product.ProductId}, null)
            @**
        @Html.DisplayFor(modelItem => item.Product.Title)
                        *@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonsInDeal.Last().Person.FirstLastName) @*We pick last, cuz First() person is Buyer and Last() is seller*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.Until)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealDone)
        </td>
        <td>
            @if (item.DealDone == false)
            {
                @Html.ActionLink(@Resources.Common.DealDone, "Edit", new { id = item.DealId })
                @*| @Html.ActionLink("Details", "Details", new {id = item.DealId})*@
                @*   @Html.ActionLink("Delete", "Delete", new { id=item.DealId })*@
            }
            
        </td>
    </tr>
}

</table>
