@model Web.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = Resources.Common.ApplicationName;
}
<!-- TODO -->
<div class="jumbotron">
    @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
    {
        @Html.Raw(Model.Article.ArticleHeadline)
        @Html.Raw(Model.Article.ArticleBody)
    }
    else
    {
        @Html.Raw(Model.Article.ArticleHeadline)
        @Html.Raw(Model.Article.ArticleBody)
    }
    
    <div class="loginRegisterBtn center-block">
        <div class="col-md-16">
            @if (!Request.IsAuthenticated)
            {
                <a class="btn btn-default" href="~/Account/Login"> @Resources.Common.Login</a>
                <a class="btn btn-default" href="~/Account/Register"> @Resources.Common.Register</a>
            } </div>

    </div>
</div>