@model Web.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = Resources.Common.ApplicationName;
}
<!-- TODO -->
<div class="content">
    @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
    {
        
        @*<div>@Html.Raw(Model.Article.ArticleBody)</div>*@
        <div class="content-header cm-string">
            <H1> @Html.Raw(Model.Article.ArticleHeadline)</H1>
        </div>

        @*<div class="content section bg-gray-light">
            <div>To use this system as a seller, you have to post your item to this site and you must
                let the buyer find you in Deals section. Next will be agreeing with deal and waiting for posting the item/s.
                The countdown will start and at the end of the time you get the money if everything goes
                as planned/otherwise purchaser gets his/her money back.
            </div>
            <hr/>
            <div> As for buyer, you must find seller's name in Deals section by full name and choose 1 of his/her avaible items
            for purchase. Next you make a deal and if seller agrees with it, the countdown will begin. Now seller has to post item,
            and post item's tracking code. If it is not done in countdown time, deal will be canceled. But if everything goes as planned
            (item's tracking code is posted) your time of transaction starts ticking. If you will not pay for the item, you may be left
            with bad feedback. But if you work well and everything goes as they must be for successfull deal, as you pay the price and
            recive dealed item, mark it as Deal done and deal is closed.</div>
        </div>*@
        
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr />
        <hr />
        <hr />
        <hr />
    }
    else
    {   
        <H1>@Html.Raw(Model.Article.ArticleHeadline)</H1>
        <div>@Html.Raw(Model.Article.ArticleBody)</div>
        <hr/>
        <div class="loginRegisterBtn center-block">
            <div class="btn-group-lg">
                @if (!Request.IsAuthenticated)
                {
                    <a class="btn-lg  btn   btn-primary " href="~/Account/Login"> @Resources.Common.Login</a>
                    <a class="btn-lg btn  btn-primary" href="~/Account/Register"> @Resources.Common.Register</a>
                }
            </div>
        </div>
        @*<hr/>
        <div>@Html.Raw(Model.Article.ArticleBody)</div>
        <hr />
        <div>@Html.Raw(Model.Article.ArticleBody)</div>
        <hr />
        <div>@Html.Raw(Model.Article.ArticleBody)</div>*@
        
        
    }
    
    @*<div class="loginRegisterBtn center-block">
        <div class="col-md-16">
            @if (!Request.IsAuthenticated)
            {
                <a class="btn btn-default" href="~/Account/Login"> @Resources.Common.Login</a>
                <a class="btn btn-default" href="~/Account/Register"> @Resources.Common.Register</a>
            } </div>

    </div>*@
</div>