@model Web.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = Resources.Common.ApplicationName;
}
<!-- TODO -->
<div class="content">
    @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
    {
        
        @*<div>@Html.Raw(Model.Article.ArticleBody)</div>*@
        <div class="content-header cm-string">
            <H1> @Html.Raw(Model.Article.ArticleHeadline)</H1>
            <div>@Html.Raw(Model.Article.ArticleBody)</div>
        </div>

        
        
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <hr />
        <hr />
        <hr />
        <hr />
    }
    else
    {   
        <H1>@Html.Raw(Model.Article.ArticleHeadline)</H1>
        <div>@Html.Raw(Model.Article.ArticleBody)</div>
        <hr/>
        <div class="loginRegisterBtn center-block">
            <div class="btn-group-lg">
                @if (!Request.IsAuthenticated)
                {
                    <a class="btn-lg  btn   btn-primary " href="~/Account/Login"> @Resources.Common.Login</a>
                    <a class="btn-lg btn  btn-primary" href="~/Account/Register"> @Resources.Common.Register</a>
                }
            </div>
        </div>
        @*<hr/>
        <div>@Html.Raw(Model.Article.ArticleBody)</div>
        <hr />
        <div>@Html.Raw(Model.Article.ArticleBody)</div>
        <hr />
        <div>@Html.Raw(Model.Article.ArticleBody)</div>*@
        
        
    }
    
    @*<div class="loginRegisterBtn center-block">
        <div class="col-md-16">
            @if (!Request.IsAuthenticated)
            {
                <a class="btn btn-default" href="~/Account/Login"> @Resources.Common.Login</a>
                <a class="btn btn-default" href="~/Account/Register"> @Resources.Common.Register</a>
            } </div>

    </div>*@
</div>