@model Web.ViewModels.PersonViewModels


<h2>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Resources.Domain.Persons
        @Resources.Domain.Create;
    }
    else
    {
        @Resources.Domain.Me
        @Resources.Domain.Create;
    }
</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_CreateEdit", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-block btn-flat " />
            </div>
        </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


